$name-color:          #fff;
$sidebar-font-color:  #ababab;
$sidebar-hover-color: #493f43;
$dark-color:          #2f292b;

body, html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
  background: #1e5799; /* Old browsers */
  background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  height: 100%;
}


a, p, ul li, h1, h2 {
  text-decoration: none;
}

#main-container {
  background: $dark-color;
}

#left-bar {
  padding-left: 0;
}

#name, .sub-titile {
  text-align: center;
}

#name {
  font-size: 1.3em;
  color: $name-color;
  margin-top: 40px;
  font-weight: bold;
}

.sub-titile {
  color: $sidebar-font-color;
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#main-menu {
  margin: 50px 0;
}


ul#main-menu li a {
  background: $dark-color;
  display: block;
  width: 100%;
  margin-left: 10px;
  color: $sidebar-font-color;
  padding: 10px 20px;
}

ul#main-menu li#about {
  background: #5fcbb0;
}


ul#main-menu li#experience {
  background: #cb5f5f;
}


ul#main-menu li a:hover {
  background: $sidebar-hover-color;
}

#content {
  background: #fff;
  min-height:600px;
}

h1 {
  color: #fff;
}


h2 {
  color: #fff;
}


h3 {
  color: #fff;
}

p {

  color: #fff;
}

