mixin mainNav ()
    ul#main-menu
        for menuItem in menuItems
            li(id= menuItem.itemId)
                a(href= menuItem.itemLink)= menuItem.itemAnchor

mixin skillInfo(skillTitle, skillDesc)
    h2= skillTitle
    p= skillDesc



mixin skills(...items)
    ul(class='skills')
        each item in items
            li= item